header {
  font-size: 20px;
  background-color: rgb(101, 99, 99);
  color: rgb(245, 245, 202);
  padding: 12px 15px;
  margin-bottom: 5px;
  position: sticky;
  top: 0;
  border-radius: 5px;
}

a {
  color: rgb(245, 245, 202);
  text-decoration: none;
}

#player {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 99vw; */
  height: 100vh;
}

button {
  width: 100px;
  height: 40px;
  font-size: 25px;
  background-color: rgb(245, 104, 52);
  border-radius: 5px;
  border: 0px;
}

button:hover{
    filter: brightness(0.9);
    cursor: pointer;
}
